<nav class="navbar-expand-md border-bottom mb-3">
  <div class="container">
    <ul class="nav justify-content-center">

      <!-- Home link -->
      <li class="nav-item">
        <a class="nav-link text-secondary" [routerLink]="'/home'" routerLinkActive="text-dark" [routerLinkActiveOptions]="{ exact: true }">
          {{HARDCODED_STRINGS.PAGES.HOME}}
        </a>
      </li>

      <!-- About Me GitHub link -->
      <li class="nav-item">
        <a class="nav-link text-secondary" [href]="githubLink" target="_blank" rel="noopener noreferrer">
          {{HARDCODED_STRINGS.PAGES.ABOUT}}
        </a>
      </li>

      <!-- Other internal links -->
      <li class="nav-item" *ngFor="let nav of internalLinks">
        <a class="nav-link text-secondary" [routerLink]="nav.path" routerLinkActive="text-dark" [routerLinkActiveOptions]="{ exact: true }">
          {{ nav.label }}
        </a>
      </li>

    </ul>
  </div>
</nav>
