<div class="container">
    <div class="row">
        <div class="col-lg shadow m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="assets/nigelprofile.jpg" alt="profile picture" width="220" height="290" class="rounded-circle">
                <p>Nigel Guven is a software engineer with over five years of experience in .NET development. He is currently employed at LetsGetChecked in Dublin, Ireland. His technical expertise encompasses various programming languages, including C#, Java, Python, and C++, as well as proficiency in frameworks such as Node.js, .NET Core, and Spring Boot. Nigel is also skilled in frontend technologies like Angular and Bootstrap, and has experience with cloud platforms including AWS, Azure, and Google Cloud Platform. Beyond his professional interests, Nigel is passionate about cars, new technologies, and history. His current project car is a Toyota GT86. He maintains an active presence on GitHub, where he contributes to various projects and shares his knowledge with the developer community.</p>
            </div>
        </div>

        <div class="col-lg shadow m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
                <h4>{{featuredProject.name}}</h4>
            </div>

            <carousel>
                <div *ngFor="let picture of featuredProject.pictures">
                    <slide><img src="{{picture}}" alt="slide" style="display: block; width: 100%"></slide>
                </div>
            </carousel>

        <p class="mt-2">{{featuredProject.summary}}</p>
        <p>Visit the projects section to learn more!</p>

        </div>
    </div>
</div>
